<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :name, :value => @meeting.name %>

  <strong>Attendees:</strong><br />

  <div class="field">
    <input id="attendee1" name="attendee1" type="text" value="" />
  </div>

  <div class="field">
    <input id="attendee2" name="attendee2" type="text" value="" />
  </div>

  <div class="field">
    <input id="attendee3" name="attendee3" type="text" value="" />
  </div>

  <strong>Notes:</strong><br />

  <div class="field">
    <textarea id="note1" name="note1"></textarea>
  </div>

  <div class="field">
    <textarea id="note2" name="note2"></textarea>
  </div>

  <div class="field">
    <textarea id="note3" name="note3"></textarea>
  </div>

  <div class="field">
    <textarea id="note4" name="note4"></textarea>
  </div>

  <strong>Action Items:</strong><br />

  <div class="field">
    <input id="action1" name="action1" type="text" value="" />
  </div>

  <div class="field">
    <input id="action2" name="action2" type="text" value="" />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
