<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @meeting.owner %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-default"  %> |
<%= link_to 'Back', meetings_path, class: "btn btn-default" %>

<hr />

<%= render "attendees/form" %>

<h2>Listing attendees</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= render 'notes/list' %>

<hr />

<%= render 'action_items/list' %>
